/*Normalizer*/

.hide {
    display: none;
}
/*General*/

html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0 auto;
}
header {
    height: 60px;
    background-color: #696969;
    width: 100%;
}
@media screen and (max-width: 800px) {
    header {
        height: 90px;
        background-color: #696969;
        width: 100%;
    }
}
.containerheader {
    width: 80%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    background-color: #696969;
}
footer {
    background: #696969;
    height: 50px;
}
#nav {
    display: inline-block;
    float: right;
    height: 50px;
    width: 70px;
    margin-top: 5px;
}
/*ipad*/

@media screen and (max-width: 800px) {
    #nav {
        display: inline-block;
        float: right;
        height: 55px;
        width: 75 px;
        margin-top: 15px;
    }
}
/*big phone*/

@media screen and (max-width: 590px) {
    #nav {
        display: inline-block;
        float: right;
        height: 55px;
        width: 75px;
        margin-top: 15px;
    }
}
/*small phone*/

@media screen and (max-width: 390px)
/*typography*/

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}
h1 {
    font-size: 1.7em;
    text-align: center;
    color: black;
    margin: 0px;
    font-family: 'Libre Baskerville', serif;
}
/*ipad*/

@media screen and (max-width: 800px) {
    h1 {
        font-size: 3em;
        text-align: center;
        color: black;
        margin: 0px;
        font-family: 'Libre Baskerville', serif;
    }
}
/*big phone*/

@media screen and (max-width: 590px) {
    h1 {
        font-size: 2em;
        text-align: center;
        color: black;
        margin: 0px;
        font-family: 'Libre Baskerville', serif;
    }
}
/*small phone*/

@media screen and (max-width: 390px) {
    h1 {
        font-size: 1.7em;
        text-align: center;
        color: black;
        margin: 0px;
        font-family: 'Libre Baskerville', serif;
    }
}
h2 {
    font-size: 0.8em;
    text-align: center;
    color: white;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}
h3 {
    font-size: 1.7em;
    text-align: center;
    color: black;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
P {
    font-size: 1.3em;
    text-align: center;
    color: white;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
h5 {
    font-size: 0.8em;
    text-align: center;
    color: black;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
h6 {
    font-size: 0.6em;
    text-align: center;
    color: black;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
.a {
    color: white;
    text-decoration: none;
}
:hover.a {
    color: blue;
}
/*images*/

#tag {
    height: 40px;
    margin-top: 7px;
}
/*ipad*/

@media screen and (max-width: 800px) {
    #tag {
        height: 70px;
        margin-top: 7px;
    }
}
.contact {
    border-radius: 20px;
    margin: 0 auto;
    max-width: 900px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
}
/*Container and other div*/

main {
    height: 120vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-image: url("assets/b1.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.description {
    display: inline;
    width: 600px;
    margin-left: 20px;
    margin-bottom: 200px;
}
.form {
    display: flex;
    justify-content: center;
    margin: 8px auto 15px auto;
}
.form div {
    border: 2px solid white;
    border-radius: 5px;
    background-color: black;
}
input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 2em;
}
input:focus { 
    -moz-box-shadow:    inset 0 0 15px #696969;
    -webkit-box-shadow: inset 0 0 15px #696969;
    box-shadow:         inset 0 0 15px #696969;
}

input:focus {
    outline-width: 0;
}
input::-moz-placeholder {
    color: black !important;
}
input::-webkit-input-placeholder {
    color: black !important;
}
input::-moz-placeholder {
    color: black !important;
}
input:-ms-input-placeholder {
    color: black !important;
}
/*Result section*/

#result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    
}
/*small phone*/

@media screen and (max-width: 390px) {
    #result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        max-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
    }
}
/*big phone*/

@media screen and (max-width: 590px) {
    #result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        max-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
    }
}
/*ipad*/

@media screen and (max-width: 800px) {
    #result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        max-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
    }
}
/*hr ipad*/

@media screen and (max-width: 1050px) {
    #result {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        max-height: 100vh;
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
    }
}
.item {
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    width: 170px;
    height: 200px;
    overflow: hidden;
    box-shadow: 10px 10px 5px grey;
}
#imgrsl {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 150px;
    padding: 3px;
}
#info {
    max-width: 750px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}